<% if autocomplete %>
  <div class="fill_ins" data-controller="tagautocomplete" data-tagautocomplete-tagtype-value="<%=tag_type%>" data-tagautocomplete-polarity-value="<%=polarity%>">
    <%= p_form.select "#{tag_type}", options_for_select(entries.map{|e| [e.first, {'data-tooltip': e.second}]}, selected: entries.map{|e| e.first}), {}, {class: "tags-autocomplete", multiple: "multiple"} %>
  </div>
<% else %>
  <div class="fill_ins" >
    <%= p_form.text_field "#{tag_type}", value: entries.join(', '), multiple: true, autocomplete: "off" %>
  </div>
<% end %>