<%= turbo_frame_tag message, src: message_path(message, frame: true), class: "pending-message message-turbo" do %>
    <div class="message">
      <p>. . .</p>
      <hr class="message-break"/>
      <span class="message-created-at">
        Sent <%= DateTime.now.strftime("%Y-%m-%d %k:%M:%S") %>
      </span>
  </div>
<% end %>