<h1>Messages</h1>

<div id="messages">
  <% @messages.display.each do |message| %>
    <%= render message %>
    <p>
      <%= link_to "Show this message", message, class: "button" %>
    </p>
  <% end %>
</div>

<%= link_to "New message", new_message_path, class: "button" %>
