<div class="flex-container" id="announcements_container">
    <div class="card primary">
        <% if can? :create, Announcement %>
            <%= link_to "New announcement", new_announcement_path, class: "button" %>
        <% end %>
        <div class="pagination">
            <%== render partial: 'pagy/nav', locals: {pagy: @pagy} %>
        </div>
    </div>
    <% @announcements.each do |announcement| %>
        <%= render announcement %>
    <% end %>
    <div class="card primary">
        <div class="pagination">
            <%== render partial: 'pagy/nav', locals: {pagy: @pagy} %>
        </div>
    </div>
</div>