<h1>Editing announcement</h1>

<div class="card">
  <%= render "form", announcement: @announcement %>
</div>

<div class="card">
  <%= link_to "Show this announcement", @announcement, class: "button" %> |
  <%= link_to "Back to announcements", announcements_path, class: "button" %>
</div>
