<% content_for :page_title do %>
    Edit Announcement (<%= @announcement.title ? @announcement.title : @announcement.id %>)
<% end %>

<h1>Editing announcement</h1>

<div class="card primary">
  <%= render "form", announcement: @announcement %>
</div>

<div class="card primary">
  <div class="input-group">

  </div>
  <%= link_to "Show", @announcement, class: "button" %>
  <%= link_to "Back", announcements_path, class: "button" %>
</div>
