<div id="announcements">

  <h1>News</h1>

  <div id="announcements">
    <% @announcements.each do |announcement| %>
      <%= render announcement %>
    <% end %>
    <%== render partial: 'pagy/nav', locals: {pagy: @pagy} %>
  </div>
</div>

<% if is_admin? %> 
  <%= link_to "New announcement", new_announcement_path %>
<% end %>
