<h1>New announcement</h1>

<div class="card">
  <%= render "form", announcement: @announcement %>
</div>

<div class="card">
  <%= link_to "Back to announcements", announcements_path, class: "button" %>
</div>
