<nav class="pagy nav w-full justify-center items-center text-center" aria-label="Pages">
  <% if !params[:before].nil? %>
    <%= link_to "1", prompts_path(params.permit(:before, :ismine, :managed, :tags).except(:before)), class: "prev" %>
  <% else %>
    <a class="prev" disabled>1</a>
  <% end %>
  <div class="pagy-pages items-center justify-center text-center">
    <%= params[:before].present? ? readable_time(DateTime.parse(params[:before]), mini: true) : readable_time(Time.zone.now, mini: true) %>
  </div>
  <% if @cursor %>
    <%= link_to ">", prompts_path(params.permit(:before, :ismine, :managed, :tags).merge({before: @cursor})), class: "next" %>
  <% end %>
</nav>
