<% content_for :left_sidebar do %>
  <div class="card primary max-lg:hidden">
    <%= render partial: 'nav' %>
  </div>
<% end %>

<% content_for :secondary_navbar do %>
  <div class="px-4 pb-2 lg:hidden sticky bottom-0">
    <%= render partial: 'nav' %>
  </div>
<% end %>

<% content_for :info_top do %>
  <h1>Prompts</h1>
  <div class="card primary">
    <%= link_to "New Prompt", new_prompt_path, class: "button" %>
  </div>
<% end %>

<div class="flex-container" id="prompts_container">
  <div class="flex-container">
    <%= render partial: 'prompts/mini', collection: @prompts, as: :prompt %>
  </div>
</div>
