<div class="directory_left_sidebar">
  <div class="card primary">
    <%= link_to '(Advanced Search)', prompts_search_path %>
    <div class="directory-actions">
      <div data-controller="tagactions">
        <div data-controller="polaritytype">
          <%= select 'tag', 'polarity', CardinalSettings::Tags.polarities, {}, data: { 
            "tagactions-target": "polarity",
            "polaritytype-target": "polarity", action: "polaritytype#changePolarity"
          } %>
          <%= select 'tag', 'type', CardinalSettings::Tags.types.keys, {}, data: {
            "tagactions-target": "tagType",
            "polaritytype-target": "tagType"
          } %>
        </div>
        <input data-tagactions-target="name" type="text">
        <button data-action="click->tagactions#add">Add</button>
        <button data-action="click->tagactions#exclude">Exclude</button>
      </div>
      <br />
      <%= link_to 'Update timestamp', params.permit(:before, :tags, :nottags, :page).merge(before: 1.second.from_now) %>
    </div>
  </div>
</div>