<h1>Prompts</h1>

<%= render partial: 'prompts/prompts_sidebar', layout: 'directory/left_sidebar',
    locals: { with_search: true }
%>

<%= render partial: 'prompts/prompts', locals: {prompts: @prompts} %>
