<% content_for :page_title do %>
    New Prompt
<% end %>

<%= render partial: 'prompts/prompts_sidebar' %>

<div class="card primary">
  <h1>New prompt</h1>

  <%= render "form", prompt: @prompt, with_tags: true, character_options: @character_options, pseudonym_options: @pseudonym_options %>

  <br>

  <div>
    <%= link_to "Back to prompts", prompts_path, class: "button" %>
  </div>
</div>