<div class="card">
  <h1>New prompt</h1>

  <%= render "form", prompt: @prompt, with_tags: true, character_options: @character_options %>

  <br>

  <div>
    <%= link_to "Back to prompts", prompts_path %>
  </div>
</div>