<%= render partial: 'prompts/prompts_sidebar', layout: 'directory/left_sidebar' %>

<div class="card">
  <h1>New prompt</h1>

  <%= render "form", prompt: @prompt, with_tags: true, character_options: @character_options, pseudonym_options: @pseudonym_options %>

  <br>

  <div>
    <%= link_to "Back to prompts", prompts_path %>
  </div>
</div>