<h1>Search</h1>

<%= render partial: 'prompts/prompts_sidebar' %>

<div class="card">
  <h1>Editing tags</h1>

  <%= render partial: 'prompts/form_search' %>

  <br>

  <div>
    <%= link_to "Back to prompts", prompts_path, class: "button" %>
  </div>
</div>