<% content_for :title, "Editing theme" %>

<h1>Editing theme</h1>

<%= render "form", theme: @theme %>

<br>

<div class="card primary">
  <div class="input-group">
    <%= link_to "Show", @theme, class: "button" %>
    <%= link_to "Back", themes_path, class: "button" %>
  </div>
</div>
