<% content_for :title, "Themes" %>

<h1>Themes</h1>

<div class="card primary">
  <% if can? :create, Theme %>
    <%= link_to "New theme", new_theme_path, class: "button" %><br/>
  <% end %>
  <%== pagy_nav @pagy %>
  <div id="themes">
    <% @themes.each do |theme| %>
      <%= render theme %>
    <% end %>
  </div>
  <%== pagy_nav @pagy %>
</div>


