<div class="card">
  <%= render @theme %>
  <% if can? :create, Theme %>
    <%= link_to "Edit this theme", edit_theme_path(@theme), class: "button" %> |
  <% end %>
  <%= link_to "Back to themes", themes_path, class: "button" %>

  <% if can? :destroy, @theme %>
    <%= button_to "Destroy this theme", @theme, method: :delete, class: "button", data: {turbo_confirm: "Are you sure?"}  %>
  <% end %>
</div>
