<ul class="metainfo">
    <% if can?(:view_users, model) && defined?(model.user) %>
        <li>
            <%= link_to model.user.username, edit_admin_user_path(model.user) %>
        </li>
    <% end %>
    <% if model.class.method_defined?(:pseudonym) %>
    <li>
        <strong>
        POSTED AS 
            <% if !model.pseudonym.nil? && can?(:read, model.pseudonym) %>
                <span class="pseudonym"><%= model.pseudonym.name%></span>
            <% else  %>
                <span class="pseudonym">anonymous</span>
            <% end %>
        </strong>
    </li>
    <% end %>
    <% if model.class.method_defined?(:status) %>
    <li>
        <%= model.status.upcase %>
    </li>
    <% end %>
</ul>