<ul class="metainfo">
    <% if can?(:view_users, model) && defined?(model.user) && !model.user.nil? %>
        <li>
            <%= link_to model.user.shadowbanned? ? "#{model.user.username} (S-BANNED)" : model.user.username, edit_admin_user_path(model.user) %>
        </li>
    <% end %>
    <% if model.class.method_defined?(:pseudonym) %>
    <li>
        <strong>
        POSTED AS 
            <% if !model.pseudonym.nil? && can?(:read, model.pseudonym) %>
                <span class="pseudonym"><%= model.pseudonym.name%></span>
            <% else  %>
                <span class="pseudonym">anonymous</span>
            <% end %>
        </strong>
    </li>
    <% end %>
    <% if model.class.method_defined?(:status) %>
    <li>
        <%= model.status.upcase %>
    </li>
    <% end %>
    <% if model.class.method_defined?(:tag_status) && (Current.user.admin? || Current.user.debug?) %>
        <li>
            (<%= model.tag_status.upcase %> TAGS)
        </li>
    <% end %>
</ul>