<% tag_schema = TagSchema.get_schema(model.model_name.plural) %>
<% tag_schema.polarities.each do |polarity| %>
  <div id="<%= polarity %>" class="polarity">  
    <h4><%= polarity.upcase %></h4>
    <ul>
      <% model.tags_for(polarity).each do |tag_type, tags| %>
        <% tags.each do |tag| %>
          <%= render partial: 'tags/bubble', locals: {tag: tag} %>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>