<div class="message">
    <%= message.markdown %>
    <% if message.updated_at > message.created_at %>
        <span class="message_edited_at">(edited <%= time_ago_in_words(message.updated_at) %> ago)</span>
    <% end %>
</div>