<h1>Editing chat</h1>

<div class="card primary">
  <%= render "form", chat: @chat, chat_info: @chat_info %>

  <div class="input-group">
    <%= link_to "Show", chat_path(@chat.uuid), class: "button" %>
    <%= link_to "Back", chats_path, class: "button" %>
  </div>
</div>

<% if !@chat.connect_code.nil? && can?(:edit, @chat.connect_code) %>
  <div class="card secondary">
    <%= render "form_connect_code", connect_code: @chat.connect_code %>
  </div>
<% end %>