<div id="tickets_container">
  <div class="card primary">
    <div class="pagination">
      <%== render partial: 'pagy/nav', locals: {pagy: @pagy} %>
      Your search has <strong><%= @pagy.count %></strong> total tickets!
    </div>
  </div>
  <%= render partial: 'tickets/mini', collection: @tickets, as: :ticket %>
  <div class="card primary">
    <div class="pagination">
      <%== render partial: 'pagy/nav', locals: {pagy: @pagy} %>
    </div>
  </div>
</div>