<%= render partial: 'tickets/tickets_sidebar' %>

<%= render partial: 'tickets/mini', locals: { ticket: @ticket} %>

<div class="card primary">
  <%= link_to "Back to tickets", tickets_path, class: "button" %>

  <% if can? :destroy, @ticket %>
    <%= button_to "Destroy", @ticket, method: :delete, class: "button", data: {turbo_confirm: "Are you sure?"} %>
  <% end %>
</div>
