<% content_for :left_sidebar do %>
  <div class="card">
    Admin Pages
    <ul>
      <li>
        <strong><%= link_to "Users", admin_users_path %></strong>
      </li>
      <li>
        <strong><%= link_to "Reports", admin_reports_path %></strong>
      </li>
    </ul>
  </div>
<% end %>

<div id="admin_panel_container">
  <div class="card primary">
    <h1>This page intentionally left blank.</h1>
    <h6>For now...</h6>
  </div>
</div>