<%= form_with(model: character, id: 'character_form') do |form| %>
  <%= render partial: 'characters/character_fields', locals: { character: character, form: form } %>
  <% if local_assigns[:with_tags] %>
    <%= render partial: 'characters/form_tags/tag_fields', locals: { character: character} %>
  <% end %>

  <div>
    <%= form.submit 'Submit' %>
  </div>
<% end %>

