<% content_for :page_title do %>
    Characters
<% end %>

<h1>Characters</h1>

<%= render partial: 'characters/characters_sidebar', locals: {
    with_search: true
} %>

<%= render partial: 'characters/characters', locals: {characters: @characters} %>
