<%= render partial: 'characters/characters_sidebar' %>

<div class="card">
  <h1>New character</h1>

  <%= render "form", character: @character, with_tags: true, pseudonym_options: @pseudonym_options %>

  <br>

  <div>
    <%= link_to "Back to characters", characters_path, class: "button" %>
  </div>
</div>