<% content_for :page_title do %>
    Character Search
<% end %>

<h1>Search</h1>

<%= render partial: 'characters/characters_sidebar' %>

<div class="card primary">
  <h1>Editing tags</h1>

  <%= render partial: 'characters/form_search' %>

  <div>
    <div class="input-group">
      <%= link_to "Show", @character, class: "button" %>
      <%= link_to "Back", characters_path, class: "button" %>
    </div>
  </div>
</div>