<h1>Search</h1>

<div class="card">
  <h1>Editing tags</h1>

  <%= render partial: 'characters/form_search' %>

  <br>

  <div>
    <%= link_to "Show this character", @character %> |
    <%= link_to "Back to characters", characters_path %>
  </div>
</div>