<div id="<%= dom_id tag %>" class="card primary tag mini">
  <div class="tag_info">
    <strong><%= link_to tag.name, tag %></strong>
  </div>
  <p>Type: <%= tag.tag_type %></p>
  
  <p>Lower: <%= tag.name.downcase %></p>
</div>
