<div class="card">
  <h1>Editing tag</h1>

  <%= render "form", tag: @tag %>

  <br>

  <div>
    <%= link_to "Show this tag", @tag, class: "button" %> |
    <%= link_to "Back to tags", tags_path, class: "button" %>
  </div>
</div>
