<% content_for :page_title do %>
    Edit Tag (<%= "#{@tag.polarity}:#{@tag.tag_type}:#{@tag.name}" %>)
<% end %>

<div class="card primary">
  <h1>Editing tag</h1>

  <%= render "form", tag: @tag %>

  <br>

  <div>
    <div class="input-group">
      <%= link_to "Show", @tag, class: "button" %>
      <%= link_to "Back", tags_path, class: "button" %>
    </div>
  </div>
</div>
