<% content_for :page_title do %>
    New Tag
<% end %>

<div class="card primary">
  <h1>New tag</h1>

  <%= render "form", tag: @tag %>

  <br>

  <div>
    <%= link_to "Back to tags", tags_path, class: "button" %>
  </div>
</div>
