<h1>Editing entitlement</h1>

<%= render "form", entitlement: @entitlement %>

<div class="card primary">
  <div class="input-group">
    <%= link_to "Show", [:admin, @entitlement], class: "button" %>
    <%= button_to "Destroy", [:admin, @entitlement], method: :delete, class: "button", data: {turbo_confirm: "Are you sure?"} %>
  </div>  
</div>