<h1>Editing report</h1>

<%= render "form", report: @report %>

<div>
  <div class="input-group">
    <%= link_to "Show", [:admin, @report], class: "button" %>
    <%= link_to "Back", admin_reports_path, class: "button" %>
  </div>
</div>
