.card {
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 1px 2px #bbb;
    box-sizing: border-box;
    margin: 20px auto;
    max-width: 650px;
    width: 100%;
    padding: 20px 25px;
    position: relative;
    z-index: 2;
}

.card.primary {
    background-color: var(--card-bg-color);
}

.card.secondary {
    background-color: var(--card-bg-color-secondary);
}

.card.primary a {
    color: var(--card-text-color);
    text-decoration: dotted underline;
}

.card.secondary a {
    color: var(--card-text-color-secondary);
    text-decoration: dotted underline;
}

.card.primary p {
    color: var(--card-text-color);
    text-align: left;
}

.card.primary h1,h2,h3,h4,h5,h6,li,pre,td,th,i {
    color: var(--card-text-color) !important;
}

.card.secondary p {
    color: var(--card-text-color-secondary);
    text-align: left;
}

.card.secondary h1,h2,h3,h4,h5,h6,li,pre,td,th,i {
    color: var(--card-text-color-secondary);
}

.card.secondary form {
    background-color: var(--card-bg-color-secondary);
    color: var(--card-text-color-secondary);
}

.card.secondary form input {
    background-color: var(--card-textarea-bg-color);
    color: var(--card-textarea-text-color);
}

.card.primary form {
    background-color: var(--card-bg-color);
    color: var(--card-text-color);
}

.card.primary form input {
    background-color: var(--card-textarea-bg-color);
    color: var(--card-textarea-text-color);
    border: 1px solid var(--card-textarea-text-color);
    border-radius: 5px;
}

.card.primary button {
    background-color: var(--card-textarea-bg-color);
    color: var(--card-textarea-text-color);
    border: 1px solid var(--card-textarea-text-color);
    border-radius: 5px;
}
