#nav {
    background-color: var(--nav-bg-color);
    border-radius: 0 0 10px 10px;
    color: var(--main-text-color);
    padding: 5px 0;
    position: -webkit-sticky;
    position: sticky;
    right: 0;
    top: 0;
    z-index: 4;
}

#nav li {
    display: inline-block;
    margin: 0 10px;
}

#nav, footer {
    left: 0;
    text-align: center;
}

#nav a, select, form {
    background-color: var(--main-bg-color);
    border-radius: 10px;
    color: var(--main-text-color);
    display: inline-block;
    line-height: 30px;
    padding: 0 5px;
    text-decoration: none;
    margin: 0;
    text-align: left;
    border: 0;
    outline: 0;
}

#nav option {
    font-size: 10px;
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
