/*= require_tree . */
/*= require_self */

:root {
    --main-bg-color: #401a1a;
    --main-text-color: #fff;
    --header-bg-color: #c04e4e;
    --card-bg-color: #803434;
    --card-text-color: #fff;
    --card-bg-color-secondary: #d1d1d1;
    --card-text-color-secondary: #000;
    --card-textarea-bg-color: rgb(228, 228, 228);
    --card-textarea-text-color: #333;

    --ongoing-color: grey;
    --unread-color: cornflowerblue;
    --unanswered-color: #9acd32;
    --ended-color: firebrick;

    --nav-bg-color: var(--card-bg-color);
}

body {
    background-color: var(--main-bg-color);
    font-family: Roboto,sans-serif;
    line-height: 1.5em;
    margin: 0;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}

#site_container {
    display: grid; 
    grid-auto-flow: row dense; 
    grid-template-columns: 0.8fr 1fr 1fr 0.8fr; 
    gap: 1px 1px; 
    grid-template-areas: 
      "top_1 info_top info_top top_2"
      "sidebar_left main_content main_content sidebar_right"
      "bottom_1 info_bottom info_bottom bottom_2"; 
    margin-left: 20px;
    margin-right: 20px;
  }

#main {
    color: var(--main-text-color);
    text-align: center;
    width: 100%;
    text-align: center;
    grid-area: main_content;
}

#left_sidebar {
    grid-area: sidebar_left;
    position: -webkit-sticky;
    position: sticky;
    align-self: start;
    top: 50px;
    left: 0;
}

#right_sidebar {
    grid-area: sidebar_right;
    position: -webkit-sticky;
    position: sticky;
    align-self: start;
    top: 50px;
    right: 0;
}

#info_top {
    grid-area: info_top;
}

#info_bottom {
    grid-area: info_bottom;
    padding-bottom: 100px;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--header-bg-color);
    color: var(--main-text-color);
}

#header a, #header img {
    display: block;
    margin: 0 auto;
    padding: 10px;
}

#main > * {
    color: var(--main-text-color);
}
