/*= require_tree . */
/*= require_self */

:root {
    --main-bg-color: #401a1a;
    --header-bg-color: #c04e4e;
    --card-bg-color: #803434;

    --nav-bg-color: var(--card-bg-color);
}

body {
    background-color: var(--main-bg-color);
    font-family: Roboto,sans-serif;
    line-height: 1.5em;
    margin: 0;
    overflow-y: scroll;
}


#header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--header-bg-color);
    color: #fff;
}

#header a, #header img {
    display: block;
    margin: 0 auto;
}
