<div class="card primary">
  <h1>Editing alert</h1>
</div>

<div class="card secondary">
  <%= render "form", alert: @alert %>
</div>

<br>

<div class="card primary">
  <div class="input-group">
    <%= link_to "Show", [:admin, @alert], class: "button" %>
    <%= link_to "Back", admin_alerts_path, class: "button" %>
  </div>
</div>
