<div class="card primary">
  <h1>New alert</h1>
</div>

<div class="card secondary">
  <%= render "form", alert: @alert %>
</div>
<br>

<div class="card primary">
  <%= link_to "Back to alerts", admin_alerts_path, class: "button" %>
</div>
