<div class="card secondary">
  <%= render @alert %>
</div>

<div class="card primary">
  <div class="input-group">
    <%= link_to "Edit", edit_admin_alert_path(@alert), class: "button" %>
    <%= link_to "Back", admin_alerts_path, class: "button" %>
    <%= button_to "Destroy ", [:admin, @alert], method: :delete, class: "button", data: {turbo_confirm: "Are you sure?"} %>
  </div>
</div>
