#form_message_ooc {
    display: inline-block;
}

#form_message_submit {
    display: inline;
    float: right;
}

@keyframes shake {
  0% { transform: translateX(0) }
  25% { transform: translateX(5px) }
  50% { transform: translateX(-5px) }
  75% { transform: translateX(5px) }
  100% { transform: translateX(0) }
}

.message-input .error.animate.editor-container {
  animation: shake 0.2s ease-in-out 0s 3;
}

#form_message_content.error .EasyMDEContainer .editor-toolbar {
  border-top: 2px solid var(--ended-color);
  border-left: 2px solid var(--ended-color);
  border-right: 2px solid var(--ended-color);
}

#form_message_content.error .EasyMDEContainer .CodeMirror {
  border-bottom: 2px solid var(--ended-color);
  border-left: 2px solid var(--ended-color);
  border-right: 2px solid var(--ended-color);
}

#messages_container>*>.message {
    border: 2px solid var(--card-textarea-bg-color);
    border-radius: 10px;
    background-color: var(--card-textarea-bg-color);
}

#messages_container > * > .message.ooc {
  background-color: var(--card-bg-color-secondary);
  border: 2px solid var(--card-textarea-bg-color);
}

#messages_container > * > .message.reported {
  border: 2px solid var(--ended-color);
}

.message > * > img {
  width: 100%;
}

.admin_chat.mini .user_icon {
    position: initial;
    float: initial;
    left: initial;
    top: initial;
    border-radius: initial;
    padding: initial;
    padding-right: initial;
    margin: initial;
    background-color: initial;
    font-size: initial;
    text-align: right;
    border-right: initial;
    max-width: initial;
    min-width: initial;
}

.admin_chat.mini .type_notif {
  position: initial;
  right: initial;
}

.type_notif {
  position: relative;
  right: 0px;
}

.message_edited_at {
  font-size: 0.8em;
  position: relative;
  bottom: -25px;
  left: 0;
  opacity: 75%;
}

.message_created_at {
  font-size: 0.8em;
  position: relative;
  bottom: -25px;
  right: 0;
  opacity: 75%;
}

.message_break {
  position: relative;
  bottom: 10px;
  width: 100%;
  opacity: 50%;
}

.message_edit_link {
  position: relative;
  float: right;
  bottom: -25px;
  opacity: 75%;
}

.message {
  padding: 15px;
  margin-bottom: 20px;
}

.pending_message {
  height: 116px;
}

.card.chat { 
  background: linear-gradient(to top right,transparent 50%,rgb(155, 155, 155) 0) top right/40px 40px no-repeat, var(--card-bg-color-secondary);
}

#chats .card.ongoing {
  border-right: 6px solid var(--ongoing-color); 
  background: linear-gradient(to top right,transparent 50%,var(--ongoing-color) 0) top right/40px 40px no-repeat, var(--card-bg-color-secondary);
  background-clip: border-box;
  background-position-x: calc(100% + 6px);
}
#chats .card.unread {
  border-right: 6px solid var(--unread-color);
  background: linear-gradient(to top right,transparent 50%,var(--unread-color) 0) top right/40px 40px no-repeat, var(--card-bg-color-secondary);
  background-clip: border-box;
  background-position-x: calc(100% + 6px);
}
#chats .card.unanswered {
  border-right: 6px solid var(--unanswered-color);
  border-left: #eee;
  background: linear-gradient(to top right,transparent 50%,var(--unanswered-color) 0) 100% 0/40px 40px no-repeat, var(--card-bg-color-secondary);
  background-clip: border-box;
  background-position-x: calc(100% + 6px);
}
#chats .card.ended {
  border-right: 6px solid var(--ended-color);
  background: linear-gradient(to top right,transparent 50%,var(--ended-color) 0) top right/40px 40px no-repeat, var(--card-bg-color-secondary);
  background-clip: border-box;
  background-position-x: calc(100% + 6px);
}

#sidebar_users {
    list-style: none;
    text-decoration: none;
    position: relative;
    left: -40px;
    color: var(--card-text-color);
}
  
#sidebar_users>li {
    margin-bottom: 10px;
    white-space: nowrap;
}
  
.sidebar_user_icon {
    display: inline-block;
    text-align: left;
    font-size: 1.5em;
    min-width: 1em;
    min-width: 1em;
    margin-right: 10px;
    padding: 10px;
    border-radius: 50%;
    background-color: var(--main-bg-color);
}


.chat-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-admin-actions, .chat-admin-actions form {
  display: inline;
}

.search-form {
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  width: 100%;
  gap: 8px;
}

.search-form .search-field {
  flex-grow: 1;
}


@media only screen and (min-width: 841px) {

    .user_icon {
      position: relative;
      float: left;
      left: -70px;
      top: 45px;
      border-radius: 50% 0 0 50%;
      padding: 0.8em;
      padding-right: 23px;
      margin: -40px;
      background-color: var(--card-bg-color-secondary);
      font-size: 2.5em;
      text-align: right;
      border-right: 0;
      max-width: 95px;
      min-width: 95px;
    }

    .message_edit_link {
        position: relative;
        bottom: -25px;
        float: right;
        opacity: 75%;
    }

    .message_created_at {
        position: relative;
        bottom: -25px;
        left: 0;
        opacity: 75%;
    }

    .type_notif {
        position: relative;
        right: 0px;
    }

    #messages_container > * > .message.ooc > .user_icon {
        background-color: var(--card-bg-color-secondary);
        border: 2px solid var(--card-textarea-bg-color);
        border-right: 0;
    }


    #messages_container>*>.message>.user_icon {
        background-color: var(--card-textarea-bg-color);
    }
}
