#nav {
    background-color: var(--nav-bg-color);
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    position: sticky;
    top: -1px;
    border-radius: 0 0 10px 10px;
    z-index: 50;
}

#nav li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: var(--main-bg-color);
}

#nav li:hover {
    filter: invert(0.8) hue-rotate(180deg) contrast(1.4) brightness(1.4);
    transition: filter 0.08s ease;
}

#nav li.disabled {
    opacity: 0.5;
}

#nav a {
    color: var(--main-text-color);
    text-decoration: none;
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav form {
    padding: 0;
    margin: 0;
}

#nav button {
    background-color: var(--nav-button-bg-color);
    color: var(--nav-button-text-color);
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-size: 1em;
}

#notif-values {
    display: flex;
    background-color: var(--main-bg-color);
    border-radius: 10px;
    float: right;
    margin-right: -10px;
    margin-left: 10px;
}

#notif-values > *{
    display: inline-block;
}

#notif-values .leftmost {
    border-radius: 10px 0 0 10px;
}

#notif-values .rightmost {
    border-radius: 0 10px 10px 0;
}

#notif-values .alone {
    border-radius: 10px;
}

#notif-unread.notif-value {
    background-color: var(--unread-color);
}

#notif-unanswered.notif-value {
    background-color: var(--unanswered-color);
}

#notif-ended.notif-value {
    background-color: var(--ended-color);
}

.notif-value {
    padding: 0;
    margin: 0;
    min-width: 20px;
}

@media screen and (max-width: 840px) {
    #nav {
        white-space: nowrap;
        overflow: auto;
    }
}
