#donation_container .status {
  display: flex;
  justify-content: center;
}

.prices {
  width: 100%;
}

.prices th {
  border-radius: 0% 0% 50% 50%;
  background-color: var(--card-textarea-bg-color);
}

.prices button {
  height: 100%;
  width: 100%;
  padding: 5px;

  background-color: var(--card-textarea-bg-color);
}

.prices th:nth-child(2n), .prices td:nth-child(2n) button {
  color: var(--card-text-color-secondary);
  background-color: var(--card-bg-color-secondary);
}