form .fill_ins {
  padding-left: 20px;
}

form .tags_autocomplete {
  width: 100%;
}

form .select2-container {
  width: 100% !important;
}

.fill_ins input {
  width: 100%;
}

@media screen and (max-width: 840px) {
  #form .fill_ins {
    padding-right: 20px;
  }
}

.polarity {
  margin-top: 1em;
}

form .polarity {
  margin-bottom: 2em;
}

.polarity h3, .polarity h4, .polarity ul {
  margin: 0;
  margin-bottom: 10px;
}

.polarity h3, .polarity h4 {
  text-align: left;
}

.polarity li.tag {
  display: inline;
}

.prompt li {
  word-wrap: break-word;
}

.prompt img {
  width: 100%;
}

.prompt_edit_link {
  position: relative;
  float: right;
  opacity: 75%;
}

.prompt_actions {
  list-style-type: none;
  margin-bottom: 0;
}

.prompt_actions li, .prompt_actions button, .prompt_actions form {
  display: inline;
}

.tag {
  word-break: keep-all;
}

.tag a {
  background-color: var(--main-bg-color);
  border: 1px solid var(--card-bg-color);
  border-radius: 5px;
  box-shadow: .6px .6px 1px #333;
  color: var(--card-text-color);
  padding: 2px 3px;
  text-decoration: none;
  transition: filter .2s, color .2s, border .2s, box-shadow .2s;
  word-break: keep-all;
  white-space: pre;
}

.tag.genre a {
  background-color: var(--tag-genre);
  color: var(--tag-genre-text);
}

.tag.fandom a {
  background-color: var(--tag-fandom);
  color: var(--tag-fandom-text);
}

.tag.light_warning a {
  background-color: var(--tag-light-warning);
  color: var(--tag-light-warning-text);
}

.tag.heavy_warning a {
  background-color: var(--tag-heavy-warning);
  color: var(--tag-heavy-warning-text);
}

.tag.gender a {
  background-color: var(--tag-gender);
  color: var(--tag-gender-text);
}

.tag.character a {
  background-color: var(--tag-character);
  color: var(--tag-character-text);
}

.tag.characteristic a {
  background-color: var(--tag-characteristic);
  color: var(--tag-characteristic-text);
}

.tag.setting a {
  background-color: var(--tag-setting);
  color: var(--tag-setting-text);
}

.tag.post_length a {
  background-color: var(--tag-post-length);
  color: var(--tag-post-length-text);
}

.tag.rp_length a {
  background-color: var(--tag-rp-length);
  color: var(--tag-rp-length-text);
}

.tag.character_pref a {
  background-color: var(--tag-character-pref);
  color: var(--tag-character-pref-text);
}

.tag.plotness a {
  background-color: var(--tag-plot);
  color: var(--tag-plot-text);
}