.tag li {
  word-wrap: break-word;
}

.tag_edit_link {
  position: relative;
  float: right;
  opacity: 75%;
}

.tag_actions {
  list-style-type: none;
  margin-bottom: 0;
}

.tag_actions li, .tag_actions button, .tag_actions form {
  display: inline;
}