<%= fields_for :tags do |tag_form| %>
    <div class="polarity">
        <h3><%= tag_form.label 'character profile(s)', 'CHARACTER PROFILE(S)' %></h3>
        <% prompt.characters.each do |char| %>
            <%= select_tag('characters[]', options_for_select(character_options, char.id)) %><br />    
        <% end %>
        <%= select_tag('characters[]', options_for_select(character_options, -1)) %><br />
    </div>
<% end %>