<div class="flex-container" id="filters_container">
  <div class="card primary">
    <% if can? :create, Filter %>
      <%= link_to "New filter", new_filter_path, class: "button" %>
    <% end %>
    <div class="pagination">
      <%= render partial: 'pagy/nav', locals: {pagy: @pagy} %>
    </div>
  </div>
  <%= render partial: 'filters/filter', collection: @filters, as: :filter %>
  <div class="card primary">
    <div class="pagination">
      <%= render partial: 'pagy/nav', locals: {pagy: @pagy} %>
    </div>
  </div>
</div>