<% if local_assigns[:with_search] %>
  <div class="directory-actions">
    <div data-controller="filteractions">
      <input data-filteractions-target="group" type="text">
      <button data-action="click->filteractions#add">Change Group</button>
    </div>
  </div>
<% end %>