<%= render partial: 'filters/filter_sidebar' %>

<div class="card primary">
  <h1>Editing filter</h1>

  <%= render "form", filter: @filter %>

  <br>

  <div>
    <div class="input-group">
      <%= link_to "Show", @filter, class: "button" %>
      <%= link_to "Back", filters_path, class: "button" %>
    </div>
  </div>
</div>