<div class="card">
  <h1>Editing filter</h1>

  <%= render "form", filter: @filter %>

  <br>

  <div>
    <%= link_to "Show this filter", @filter %> |
    <%= link_to "Back to filters", filters_path %>
  </div>
</div>