<%= render partial: 'filters/filter_sidebar', layout: 'directory/left_sidebar' %>

<div class="card">
  <h1>New filter</h1>

  <%= render "form", filter: @filter %>

  <br>

  <div>
    <%= link_to "Back to filters", filters_path %>
  </div>
</div>