<% content_for :page_title do %>
    New Filter
<% end %>

<%= render partial: 'filters/filter_sidebar' %>

<div class="card primary">
  <h1>New filter</h1>

  <%= render "form", filter: @filter %>

  <br>

  <div>
    <%= link_to "Back to filters", filters_path, class: "button" %>
  </div>
</div>