<div id="users">

  <h1>Users</h1>

  <div id="users">
    <%== render partial: 'pagy/nav', locals: {pagy: @pagy} %>
    <% @users.each do |user| %>
      <%= render user %>
    <% end %>
    <%== render partial: 'pagy/nav', locals: {pagy: @pagy} %>
  </div>
</div>

