/*= require_tree . */
/*= require_self */

:root {
    --main-bg-color: #1d0c0c;
    --main-text-color: #999999;
    --header-bg-color: #581c1c;
    --card-bg-color: #3f1919;
    --card-text-color: #cccccc;

    --nav-bg-color: #5a2424;
}
