<div id="<%= dom_id pseudonym %>" class="card primary pseudonym">
  <div class="pseudonym_info">
    <%= render partial: 'directory/metainfo', locals: { model: pseudonym} %>
    <div class="name">
      <strong>NAME <u><%= pseudonym.name %></u></strong>
    </div>
  </div>

  </br>

  <% if can? :edit, pseudonym %>
    <%= link_to "Edit", edit_pseudonym_path(pseudonym), class: "pseudonym_edit_link" %>
  <% end %>
</div>