<% content_for :page_title do %>
    Edit Pseudonym (<%= @pseudonym.name %>)
<% end %>

<%= render partial: 'pseudonyms/pseudonyms_sidebar' %>

<div class="card primary">
  <h1>Editing pseudonym</h1>

  <%= render "form", pseudonym: @pseudonym %>
</div>
