<h1>Prompts</h1>

<% content_for :left_sidebar do %>
  <%= render partial: 'pseudonyms/pseudonyms_sidebar' %>
<% end %>

<%= render partial: 'pseudonyms/pseudonyms', locals: {pseudonyms: @pseudonyms} %>
