<% content_for :page_title do %>
    Pseudonyms
<% end %>

<h1>Pseudonyms</h1>

<%= render partial: 'pseudonyms/pseudonyms_sidebar' %>

<%= render partial: 'pseudonyms/pseudonyms', locals: {pseudonyms: @pseudonyms} %>
