<%= render partial: 'pseudonyms/pseudonyms_sidebar', layout: 'directory/left_sidebar' %>

<div class="card">
  <h1>New pseudonym</h1>

  <%= render "form", pseudonym: @pseudonym %>

  <br>

  <div>
    <%= link_to "Back to pseudonyms", pseudonyms_path, class: "button" %>
  </div>
</div>