<nav id="nav">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/">Directory</a></li>
    <li><a href="/">Your Chats</a></li>
    <li><a href="/">Username</a></li>
    <li><a href="/">Donate</a></li>
    <li><a href="/">Site Use</a></li>
    <li><a href="/">Discord</a></li>
  </ul>
</nav>