<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag "_mail.css" %>
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body class="light">
    <div class="mail-container">
      <div class="card primary">
        <%= yield %>
      </div>
    <div>
  </body>
</html>
